
.banner {
  position: relative;
  min-height: calc( 100vh - 139px);
  margin-top: 139px;
  background: url("../images/bg-banner.png") top right no-repeat #000;
  background-size: auto 100%;

  .banner-inner {
    display: flex;
    flex-direction: column;
    min-height: calc( 100vh - 139px);
    justify-content: space-around;
  }

  .captions {
    margin-top: 20px;
  }

  h3 {
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
  }

  h2 {
    font-weight: 900;
    font-size: 90px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
  }

  h4 {
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    width: 552px;
    margin-bottom: 20px;
  }

  .holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p {
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 20px;
    max-width: 576px;
  }

  .button {
    background: #F21915;
    border-radius: 2px;
    width: 272px;
    margin-bottom: 40px;
    border: 1px solid #F21915;
    outline: none !important;

    .btn {
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 11px 68px;
      outline: none !important;
    }

    &:hover {
      border: 1px solid #fff;
      background: #000;
      outline: none !important;
    }
  }

  .items {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 20px;

    p {
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF;
    }
  }

  //media

  @media (max-width: 991px) {
    background-position: top right -130px;

    h3 {
      font-size: 30px;
    }

    h2 {
      font-size: 75px;
    }

    h4 {
      font-size: 30px;
    }

    .items {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    min-height: calc( 100vh - 99px);
    margin-top: 99px;

    .banner-inner {
      min-height: calc( 100vh - 99px);
    }

    h4 {
      max-width: 524px;
    }

    p {
      max-width: 512px;
    }
  }

  @media (max-width: 715px) {
    background-position: top right -190px;
  }

  @media (max-width: 640px) {
    h3 {
      font-size: 26px;
    }

    h2 {
      font-size: 65px;
    }

    h4 {
      font-size: 26px;
      max-width: 445px;
    }
  }

  @media (max-width: 480px) {
    background-position: top right -300px;
    min-height: calc( 100vh - 90px);
    margin-top: 90px;

    .banner-inner {
      min-height: calc( 100vh - 90px);
      justify-content: space-between;
    }

    .holder {
      flex-direction: column-reverse;
    }

    .captions {
      margin-top: 0;
    }

    .items {
      flex-direction: column;

      p {
        margin-bottom: 10px;
      }
    }

    h3 {
      font-size: 22px;
      line-height: 28px;
    }

    h2 {
      font-size: 48px;
      line-height: 60px;
    }

    h4 {
      font-size: 22px;
      line-height: 28px;
      max-width: 313px;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      max-width: 320px;
    }
  }

  @media (max-width: 340px) {
    h4 {
      max-width: 300px;
    }
  }

}