
.header {
  background-color: #000;
  padding: 36px 0;
  position: fixed;
  right: 0;
  left: 0;
  //top: 55px;
  top: 0;
  z-index: 7;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .logo {
    max-width: 218px;
    max-height: 68px;
    margin-right: 30px;
  }

  .menu {
    display: flex;
  }

  .logo-address {
    display: flex;
    align-items: center;
  }

  .address {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100px;
      background: rgba(196, 196, 196, 0.1);
      left: -26px;
      top: -25px;
    }

    p {
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF;
      margin: 0;
    }

    a {
      font-weight: 900;
      font-size: 22px;
      line-height: 28px;
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  nav {
    margin-bottom: 8px;
  }

  .menu {
    li {
      margin-left: 54px;
    }
    a {
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF;
      text-decoration: none;
    }

    .social {
      margin-left: 20px;

      .icon-facebook:before {
        content: "\e904";
        color: #fff;
      }
      .icon-instagram:before {
        content: "\e905";
        color: #fff;
      }
    }
  }

  .icon-facebook {
    margin-left: 10px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  //mobile menu from right to center

  .mobile-menu {
    width: 100%;
    position: absolute;
    top: -36px;
    bottom: 0;
    transition: all .3s ease-in-out;
    max-width: 85vw;
    right: -200%;
    min-height: 100vh;
    background: #ffffff;
    padding-top: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 45px;

    .title {
      position: absolute;
      top: 55px;
      left: 0;
      right: 21%;
      background: #F21915;
      height: 40px;

      &:before {
        content: "Меню";
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #FFFFFF;
        left: 30px;
        position: absolute;
      }
    }

    .logo-mob {
      max-width: 196px;
      max-height: 61px;
      margin-left: 30px;
    }

    .right-menu {
      padding-left: 30px;

      li {
        margin-top: 22px;
      }

      li:first-child {
        margin-top: 0;
      }

      li a {
        font-size: 18px;
        line-height: 23px;
        color: #151515;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .social {
      padding-left: 30px;
      margin-bottom: 20px;

      a {
        color: #000 !important;
        text-decoration: none;
      }
    }

    .address {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      position: relative;

      p {
        font-size: 18px;
        line-height: 23px;
        color: #151515;
        margin: 0;
      }

      a {
        font-weight: 900;
        font-size: 22px;
        line-height: 28px;
        color: #151515;
      }
    }

    &.show {
      right: -15px;
      z-index: 2;
      opacity: 1;
      transition: all .3s ease-in-out;
    }
  }

  // c крестиком

  .toggle-menu {
    position: relative;
    width: 18px;
    height: 12px;
    cursor: pointer;
    display: none;

    span {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      top: 49%;
      right: 0;
      margin-top: 0;
      opacity: 1;
      &:before {
        position: absolute;
        background: #fff;
        width: 18px;
        height: 2px;
        bottom: 5px;
        content: "";
        display: block;
      }
      &:after {
        position: absolute;
        background: #fff;
        width: 18px;
        height: 2px;
        top: 5px;
        content: "";
        display: block;
      }
    }
  }

  .toggle-menu.menu-on {
    span {
      background-color: transparent;
      transition: all .3s ease-in-out;
      &:before {
        background-color: #000;
        transform: rotate(-45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
      &:after {
        background-color: #000;
        transform: rotate(45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
    }
  }

  .change-img {
    .logo-desk {
      display: none;
    }
    .logo-mobile {
      display: block;
    }
  }

  ///media

  @media (max-width: 1440px) {
    top: 0;
  }

  @media (max-width: 1242px) {

    .header__inner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: inherit;
    }

    .main-nav {
      display: none;
    }

    .menu li {
      margin-left: 0;
    }

    .main-nav.open {
      display: block;
    }

    .menu {
      display: block;
      text-align: center;
    }

    .toggle-menu {
      display: block;
      z-index: 3;
    }
  }

  @media (max-width: 768px) {
    padding: 24px 0;

    .mobile-menu {
      top: -24px;

      .title {
        top: 32px;
      }
    }

    .address {
      a {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
    }

    .logo {
      max-width: 135px;
      max-height: 42px;
    }
  }

  @media (max-width: 480px) {
    .address {
      display: none;
    }

    .mobile-menu {
      .title {
        top: 29px;
      }
    }
  }

  @media (max-width: 320px) {
    .mobile-menu {
      padding-top: 96px;
      padding-bottom: 15px;
    }
  }
}
