.look {
  padding-top: 100px;
  background: transparent;
  position: relative;
  margin-bottom: -99px;

  .title {
    position: absolute;
    top: 100px;
    left: 0;
    right: 51%;
    background: #F21915;
    height: 57px;
  }

  h4 {
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #151515;
    margin-bottom: 30px;
    margin-top: 53px;
    position: relative;

    &:before {
      content: "Выгляди шикарно";
      font-weight: 600;
      font-size: 42px;
      line-height: 53px;
      color: #FFFFFF;
      margin: 0;
      position: absolute;
      left: 0;
      top: -52px;
    }
  }

  .sub-title {
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    color: #151515;
    max-width: 439px;
    margin-bottom: 59px;

    span {
      font-weight: bold;
      color: #F21915;
    }
  }

  .image-small {
    margin-bottom: 30px;
    margin-right: 30px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.14);
    position: relative;
    z-index: 2 !important;
    width: 300px;
  }

  .image-big {
    margin-bottom: 30px;
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.14);
    z-index: 2 !important;
    width: 300px;
  }

  .overlay {
    position: absolute;
    left: 23px;
    bottom: 10px;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
  }

  .images {
    justify-content: space-between;
  }

  ///media

  @media (max-width: 1200px) {
    .image-small {
      width: 90%;
    }

    .image-big {
      width: 50%;
    }
  }

  @media (max-width: 991px) {
    padding-top: 80px;
    margin-bottom: 0;
    padding-bottom: 40px;

    .width {
      width: 50%;
    }

    .title {
      top: 80px;
      right: 0;
    }

    h4 {
      text-align: center;

      &:before {
        margin: auto;
        left: 0;
        right: 0;
        top: -52px;
        width: 343px;
      }
    }

    .sub-title {
      margin-bottom: 30px;
      text-align: center;
      max-width: 100%;
    }

    .last {
      margin-top: 30px;
    }
  }

  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 10px;

    .title {
      top: 40px;
      height: 47px;
    }

    h4 {
      font-size: 38px;
      line-height: 40px;
      margin-bottom: 20px;
      margin-top: 46px;

      &:before {
        font-size: 38px;
        line-height: 40px;
        top: -44px;
      }
    }
  }

  @media (max-width: 590px) {
    .overlay {
      left: 10px;
      bottom: -10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 576px) {

    .image-small {
      margin-bottom: 20px;
      margin-right: 20px;
    }

    .image-big {
      margin-bottom: 20px;
    }

    .last {
      margin-top: 20px;
    }

    .title {
      height: 37px;
    }

    h4 {
      font-size: 30px;
      line-height: 25px;
      margin-top: 40px;

      &:before {
        font-size: 30px;
        line-height: 25px;
        top: -36px;
        width: 245px;
      }
    }
  }

  @media (max-width: 450px) {
    .overlay {
      font-size: 16px;
      line-height: 16px;
    }
  }

}
