.price {
  background: #000;
  padding-bottom: 80px;
  padding-top: 309px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.14);

  form {
    .form-title {
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      color: #FFFFFF;
      margin-bottom: 32px;
    }
  }

  .inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  input {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 8px;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    background: transparent;
    max-width: 273px;
    width: 273px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }

  input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }
  input::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
  input::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
  input::placeholder { color: rgba(255, 255, 255, 0.5); }

  button {
    background: #F21915;
    border-radius: 2px;
    width: 273px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #F21915;
    outline: none !important;

    .btn {
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 9px 27px;
      outline: none !important;
    }

    &:hover {
      border: 1px solid #fff;
      background: transparent;
      outline: none !important;
    }
  }

  .icon-arrow-right:before {
    content: "\e901";
    color: #fff !important;
  }

  ///media

  @media (max-width: 991px) {
 .form-title {
   text-align: center;
 }
  }

  @media (max-width: 360px) {
    button {
      width: 90%;

      .btn {
        padding: 11px 22px;
      }
    }
  }


}