
.time {
  background: #000;
  padding-top: 36px;
  position: relative;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.14);

  .title {
    position: absolute;
    top: 162px;
    left: 44%;
    right: 0;
    z-index: 3;

    h3 {
      font-weight: 600;
      font-size: 42px;
      line-height: 53px;
      color: #FFFFFF;
      margin: 0;
      background: #F21915;
      padding-left: 12.5%;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #FFFFFF;
    margin-bottom: 25px;
    margin-top: 180px;
  }

  .sub-title {
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }

  form {
    input {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      color: rgba(255, 255, 255, 0.5);
      padding: 5px 8px;
      border: none;
      border-bottom: 1px solid #C4C4C4;
      background: transparent;
      max-width: 273px;
      width: 273px;
    }

    input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }
    input::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
    input::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
    input::placeholder { color: rgba(255, 255, 255, 0.5); }


    input[type=text] {
      margin-right: 30px;
    }


    button {
      background: #F21915;
      border-radius: 2px;
      border: none;
      width: 273px;
      height: 54px;
      display: inline-block;
      //margin-top: 40px;
      //font-weight: bold;
      //font-size: 22px;
      //line-height: 28px;
      //text-transform: uppercase;
      //color: #FFFFFF;

      .btn {
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 11px 59px;
      }
    }

    p {
      font-weight: 300;
      font-size: 21px;
      line-height: 26px;
      color: #FFFFFF;
      margin-top: -6px;
      margin-left: 32px;

      span {
        font-weight: bold;
        font-size: 19px;
        color: #F21915;
      }
    }
  }
}