
.why {
  position: relative;
  //height: 200px;

  .left {
    position: absolute;
    left: 0;
    background: #FFFFFF;
    width: 38%;
    height: 100%;
  }

  .middle {
    position: absolute;
    left: 38%;
    width: 32%;
    height: 100%;
    background: #ECECEC;
  }

  .right {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background: #000;
  }

  .title {
    position: absolute;
    top: 100px;
    left: 0;
    right: 51%;
    background: #F21915;
    height: 57px;
  }

  h4 {
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #151515;
    margin-top: 152px;
    position: relative;
    margin-bottom: 45px;

    &:before {
      content: "Почему стоит выбрать";
      font-weight: 600;
      font-size: 42px;
      line-height: 53px;
      color: #FFFFFF;
      margin: 0;
      position: absolute;
      left: 0;
      top: -52px;
      width: 115%;
    }
  }

  h6 {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 12px;
  }

  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #151515;
    max-width: 360px;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #F21915;
    background-color: #fff;
    border: none;
    width: 153%;

    p, h6 {
      color: #F21915;
    }
  }

  .nav-tabs{
    border: none;
  }

  .nav-tabs .nav-link {
    border: none;
    width: 132%;
  }
  .nav-link {
    display: block;
    padding: 16px 0 28px 0;
  }

  .image {
    margin-top: 250px;
    margin-bottom: 147px;
  }

  ///media

  @media (max-width: 991px) {

    .image {
      margin-top: 40px;
      margin-bottom: 80px;
    }

    .left {
      width: 33.3333%;
    }

    .middle {
      left: 33.3333%;
      width: 33.3333%;
    }

    .right {
      width: 33.3333%;
    }

    .title {
      top: 80px;
      right: 0;
    }

    h4 {
      margin-top: 135px;
      margin-bottom: 20px;
      text-align: center;

      &:before {
        width: 100%;
      }
    }

    .nav-tabs .nav-link {
      width: 100%;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      width: 100%;
    }

    .nav-link {
      padding: 5px;
    }

    .nav-tabs .nav-item {
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        background: #fff;
        border: 1px solid #F21915;
        margin-bottom: 10px;

        h6 {
          text-align: center;
          margin-bottom: 10px;
        }

        p {
          max-width: 100%;
          margin: 0;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 768px) {

    .image {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .title {
      top: 40px;
      height: 47px;
    }

    h4 {
      font-size: 38px;
      line-height: 40px;
      margin-top: 87px;

      &:before {
        font-size: 38px;
        line-height: 40px;
      }
    }
  }

  @media (max-width: 576px) {

    .title {
      height: 37px;
    }

    h4 {
      font-size: 28px;
      line-height: 30px;
      margin-top: 72px;

      &:before {
        font-size: 28px;
        line-height: 30px;
        top: -31px;
      }
    }

    ul li h6 {
      text-align: center;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 18px;
    }
  }

  @media (max-width: 450px) {
    .left {
      width: 25%;
    }

    .middle {
      left: 25%;
      width: 50%;
    }

    .right {
      width: 25%;
    }
  }

}