
.why {
  position: relative;
  //height: 200px;

  .left {
    position: absolute;
    left: 0;
    background: #FFFFFF;
    width: 38%;
    height: 100%;
  }

  .middle {
    position: absolute;
    left: 38%;
    width: 32%;
    height: 100%;
    background: #ECECEC;
  }

  .right {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background: #000;
  }

  .title {
    position: absolute;
    top: 100px;
    left: 0;
    right: 51%;
    background: #F21915;
    height: 57px;
  }

  h4 {
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #151515;
    margin-top: 152px;
    position: relative;
    margin-bottom: 45px;

    &:before {
      content: "Почему стоит выбрать";
      font-weight: 600;
      font-size: 42px;
      line-height: 53px;
      color: #FFFFFF;
      margin: 0;
      position: absolute;
      left: 0;
      top: -52px;
    }
  }

  h6 {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 12px;
  }

  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #151515;
    max-width: 360px;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #F21915;
    background-color: #fff;
    border: none;
    width: 153%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

    p, h6 {
      color: #F21915;
    }
  }

  .nav-tabs{
    border: none;
  }

  .nav-tabs .nav-link {
    border: none;
    width: 132%;
  }
  .nav-link {
    display: block;
    padding: 16px 0 28px 0;
  }

  .image {
    margin-top: 250px;
    margin-bottom: 147px;
  }
}